*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #212121;
}


div.container{
    width: 70%;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

ul{
    list-style: none;
}

.w-100{
    width: 100%;
}

.align-center{
    align-items: center;
}

.m-auto{
    margin: auto;
}